<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0"
          *ngIf="authService.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups">My groups</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0"
          *ngIf="!authService.isAuthenticated()">
        <li class="nav-item px-1">
          <a class="btn btn-secondary" routerLink="/login">Login</a>
        </li>
        <li class="nav-item px-1">
          <a class="btn btn-primary" routerLink="/registration">Registration</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0"
          *ngIf="authService.isAuthenticated()">
        <li class="nav-item px-1">
          <button class="btn btn-warning" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
</nav>
