<div class="container col-md-5 p-5">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (submit)="submit()" novalidate>
    <div class="alert alert-danger py-2"
         *ngIf="errorMessage">
      <span class="text-danger">{{errorMessage}}</span>
    </div>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email address</label>
      <input formControlName="email"
             type="email"
             class="form-control"
             name="Email"
             id="InputEmail"
             aria-describedby="emailHelp"
             [class.is-invalid]="loginForm.controls['email'].invalid">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input formControlName="password"
             type="password"
             class="form-control"
             name="Password"
             id="InputPassword"
             [class.is-invalid]="loginForm.controls['password'].invalid">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Check" name="SaveSession" [(ngModel)]="saveSession" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="Check">Check me out</label>
    </div>
    <div class="mb-3 d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" [disabled]="isLoading || loginForm.invalid">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
      Log In
    </button>
    <a type="submit" class="btn btn-outline-secondary" routerLink="/registration" [class.disabled]="isLoading">Registration</a>
    </div>
  </form>
</div>
