<div class="container col-md-5 p-5">
  <h1>Login</h1>
  <form>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email address</label>
      <input type="email"
             class="form-control"
             name="Email"
             id="InputEmail"
             aria-describedby="emailHelp"
             [(ngModel)]="model.Email"
      >
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password"
             class="form-control"
             name="Password"
             id="InputPassword"
             [(ngModel)]="model.Password"
      >
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Check" name="SaveSession" [(ngModel)]="saveSession">
      <label class="form-check-label" for="Check">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Log In</button>
  </form>
</div>
