<div class="container col-md-5 p-5">
  <h1>Registration</h1>
  <form>
    <div class="mb-3">
      <label for="InputFirstName" class="form-label">First Name</label>
      <input type="text"
             name="FirstName"
             class="form-control"
             id="InputFirstName"
             aria-describedby="emailHelp"
             [(ngModel)]="model.FirstName">
    </div>
    <div class="mb-3">
      <label for="InputLastName" class="form-label">Last Name</label>
      <input type="text"
             name="LastName"
             class="form-control"
             id="InputLastName"
             aria-describedby="emailHelp"
             [(ngModel)]="model.LastName">
    </div>
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email address</label>
      <input type="email"
             name="Email"
             class="form-control"
             id="InputEmail"
             aria-describedby="emailHelp"
             [(ngModel)]="model.Email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password"
             name="Password"
             class="form-control"
             id="InputPassword"
             [(ngModel)]="model.Password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" name="SaveSession" class="form-check-input" [(ngModel)]="saveSession" id="Check">
      <label class="form-check-label" for="Check" >Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>
